.el-label {
  display: inline-block;
  padding: 0.2em 0.3em;
  font-size: 0.75rem;
  font-weight: bold;
  color: #fff;
  background-color: #e25c00;
}

.el-label--large {
  display: inline-block;
  padding: 0.1em 0.2em;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #e25c00;
}
